$ffRoboto: "Roboto", sans-serif;
$colorBlack: #252525;
$colorYellow: #FFCC00;

// Mixin
$html-font-size: 16px;
@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}
@function rem($pxValue) {
  @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}


h1,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $colorBlack;
}

ul,
li {
  list-style: none;
  font-family: $ffRoboto;
}

button {
  cursor: pointer;
}
input,
textarea {
  outline: none;
}

